
<html>
    <head>
      <title>Docker GPU Demo</title>
      <script src="{{ url_for('static', filename='jquery-3.0.0.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
      <h1>Docker GPU Demo</h1>
      <input type="file" id="myFile">

      <button onclick="myFunction()">Send</button>
      
      <img id="image" src="" />

      <script type="text/javascript">
        cnt = 0;
  
        function refresh() {
          var image = $("#image");
          image.attr("src", "{{ url_for('jpeg') }}?c="+(cnt++));
        }

        var formData = new FormData();


        function myFunction() {
          var x = document.getElementById("myFile");
          console.log(x)

          // add assoc key values, this will be posts values
          formData.append("file", this.file, this.file.name);
          formData.append("upload_file", true);

          $.ajax({
              type: "POST",
              url: "localhost:5000/upload",
              xhr: function () {
                  var myXhr = $.ajaxSettings.xhr();
                  if (myXhr.upload) {
                      myXhr.upload.addEventListener('progress', that.progressHandling, false);
                  }
                  return myXhr;
              },
              success: function (data) {
                  // your callback here
              },
              error: function (error) {
                  // handle error
              },
              async: true,
              data: formData,
              cache: false,
              contentType: false,
              processData: false,
              timeout: 60000
          });

        }
          
        $(document).ready(function() {
          var image = $("#image");
          // image.on("load", function(){refresh()});
          // refresh(true);
        });
      </script>
    </body>
  </html>